@import 'tailwindcss';


    body {
        font-family: 'Nunito Rounded', sans-serif;
    }

    .scroll-hide::-webkit-scrollbar{
        display: none;
    }


    .scroll-hide{
        -ms-overflow-style: none;
        scrollbar-width: none;
    }


    @import "tailwindcss";
.scrollbar-hide::-webkit-scrollbar {
  display: none; 
}
.scrollbar-hide {
  -ms-overflow-style: none;  
  scrollbar-width: none;     
}


::-webkit-scrollbar {
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}




@keyframes scroll {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}
